@tailwind base;
@tailwind components;
@tailwind utilities;



*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
input[type="text"],input[type="email"],textarea{

    @apply w-[15rem] sm:w-[20rem] md:w-[25rem] border my-4 py-3 px-3 rounded-xl bg-[#f5f5f5];
}


